ansitable==0.9.7
colored==1.4.4
contourpy==1.0.7
cycler==0.11.0
dill==0.3.6
fastdtw==0.3.4
fonttools==4.39.0
importlib-resources==5.12.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.7.1
multiprocess==0.70.14
mvem==0.1.4
numpy==1.24.2
packaging==23.0
pandas==2.0.2
pathos==0.3.0
patsy==0.5.3
pgraph-python==0.6.2
Pillow==9.4.0
pox==0.3.2
ppft==1.7.6.6
progress==1.6
pybullet==3.2.6
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
roboticstoolbox-python==1.0.2
rtb-data==1.0.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
spatialgeometry==1.0.3
spatialmath-python==1.0.5
statsmodels==0.14.0
swift-sim==1.0.1
threadpoolctl==3.1.0
torch==1.10.0
typing_extensions==4.5.0
tzdata==2023.3
websockets==10.4
zipp==3.15.0
